body {
    background-color: aqua !important;
}

.card {
    box-shadow: 1px 1px 10px rgb(173, 173, 173);
    width: calc(100% / 4);

    &:hover {
        scale: 1.1;
        cursor: pointer;
    }
    &:active {
        scale: 1;
    }
    a {
        text-decoration: none;
        color: black;
    }
}
